@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/ubuntu-regular.ttf") format("truetype");
  font-weight: normal; /* 400 */
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/ubuntu-medium.ttf") format("truetype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/ubuntu-bold.ttf") format("truetype");
  font-weight: bold; /* 700 */
  font-style: normal;
}
body {
  font-family: "Ubuntu", sans-serif;
}
